<div>
  <div class="title-section">
    <h1><%= @blog.title %></h1>

    <% if authorized? %>
      <a href="/blogs/edit/<%= @blog.id %>" class="button-regular">Edit</a>
    <% end  %>
  </div>
  <div class="posted-on">Posted on <%= @blog.created_at.strftime("%-d %B %Y")%></div>

  <p><%= markdown_to_html(@blog.content) %></p>
</div>
