<div>
  <div class="title-section">
    <h1><%= @blog.title %></h1>
    <% binding.pry %>
    <% if authorized? %>
      <a href="/blogs/edit/<%= @blog.id %>" class="button-regular">Edit</a>
    <% else  %>
      <a href="/" class="button-regular">Back</a>
    <% end %>
  </div>
  <div>
    <span class="posted-on-label">Posted on</span><span class="posted-on-date"> <%= @blog.created_at.strftime("%-d %B %Y")%></span>
  </div>

  <p><%= markdown_to_html(@blog.content) %></p>
</div>
