<p class="intro">
  I'm Arsen, a software developer living in Warsaw. This is the place where I write up what I learn.
</p>

<section>
  <h1>Articles</h1>

  <ul>
    <% @blogs.each do |blog| %>
      <li>
        <a href="/blogs/<%= blog.id %>" class="link">
          <%= blog.title %>
        </a>
        -
        <time>
          <%= blog.created_at.strftime("%-d %B %Y") %>
        </time>
      </li>
    <% end %>
  </ul>
</section>
