<p class="intro">
  I'm Arsen, a Ruby on Rails developer living in Warsaw. This is my blog.
</p>

<section>
  <% if @blogs.any? %>
    <h1>Articles</h1>

    <ul>
      <% @blogs.each do |blog| %>
        <li>
          <a href="/blogs/<%= blog.id %>" class="link">
            <%= blog.title %>
          </a>
          -
          <time class="publish-date">
            <%= blog.created_at.strftime("%-d %B %Y") %>
          </time>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h1>Nothing to see here</h1>
  <% end %>
</section>
