<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/stylesheets/application.css">

    <title>74.921</title>
  </head>

  <body id="main_content">
    <header id="header">
      <a class="logo" href="/">
        74.921±
      </a>
      <nav class="links">
        <a href="#" class="link">Archives</a>
        <a href="#" class="link">About</a>
        <a href="https://github.com/Punkbooster" target="_blank" rel="noopener noreferrer" class="link">GitHub</a>
      </nav>
    </header>

    <main class="content-wrapper">
      <%= yield %>
    </main>
  </body>
</html>
